@media screen and (max-width: 1280px) {
    header {
        padding: 2% 0;

        background-attachment: scroll;
        background-size: cover;
    }

    .banner {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 900px) {
    .banner .tittle {
        width: 80%;
    }
}


@media screen and (max-width: 900px) {
    body {
        width: 100vw;

        font-size: .5em;
    }

    header {
        width: 100%;
        height: 30vh;

        background: #040 url(imagens/Background-Header.jpg) no-repeat fixed;
        background-size: 120%;
    }

    header nav {
        width: 100%;

        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
    }

    header nav ul {
        width: 40%;
        height: 40%;
        padding: 1%;

        font-size: .8em;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    header nav p {
        margin: 1%;
    }

    .banner {
        width: 90%;
        margin: 0 auto;
        padding: 1% 3%;

        display: flex;
        flex-flow: row;
        justify-content: space-between;
    
    }

    .banner ul, .banner p {
        display: none;
    }

    .tittle {
        width: 100%;
        padding: 5% 2%;
    }

    .tittle h1 {
        font-size: 2.5em;
    }

    section {        
        width: 90%;
        margin: 5% auto 0;
        padding: 1%;

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;    
    }

    section:nth-child(2n) {
        flex-flow: column;
    }    

    section article {
        background: #0001;

        margin: 2% auto;
        padding: 2% 4%;

        max-width: 95%;

    }
    
    article p {
        margin: 5% auto;
        font-size: 1.3em;
    }


    img {
        display: block;
        max-width: 95%;

        margin: auto;
    }

    footer {
        padding: 1% 3%;

        font-size: 1.3em;
        
        gap: 5px;
    }

    footer div, footer nav {
        width: 100%;
        height: 100%;

        margin: 0;
    } 
}