
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-2: #ddf;
}

section {
    background: var(--white-2);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -100%;
    left: 0;
    overflow: scroll;
    transition: all .5s;
}

li a:hover {
    background: #ff0 !important;
}

#start-screen {
    top: 0;
}

#continent:target, #country:target, #state:target {
    top: 0;
}

#continent .input-of-text {
    display: none;
}

.select-of-continents {
    display: none;
}

#continent .select-of-continents {
    display: block;
}

button[onclick*=back] {
    background: transparent;
    position: absolute;
    border-radius: 0;
    border: none;
}

button[onclick*=back]:hover {
    transform: scale(1.1);
}

button[onclick*=catch] {
    border: black 2px solid !important;
    width: 10%;
}

button[onclick*=catch]:hover {
    background: #ff0;
}

td:hover {
    background: #0dcaf0;
}

.find-place {
    float: right;
    display: block;
}

.find-place:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

div#image {
    height: 25vw;
    background: white url(imagens/pexels-nastyasensei-335393.jpg) scroll no-repeat center center;
    background-size: cover;
    width: 100%;
}