@keyframes background-animation {
    to {
        background-position: right center;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-shadow: 2px 2px 0px white;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    background: radial-gradient(circle at top center, #fffa, #0003, #000a);

    width: 100%;
    height: 100%;
}

section {
    background: #0f2fff;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    
    opacity: 0;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;

    transition-duration: 1.5s;
}

a {
    background: #ff0;
    padding: 1% 4%;

    border: solid 3px black;
    border-radius: 10px;

    color: black;
    text-decoration: none;
    font-size: 3em;
    font-weight: 800;
}

.button-effect:active {
    transform: scale(.8);
}
    
.button-effect:hover {
    background: #fa0;
}


/* tela principal */
section#main-display {
    opacity: 1;
    z-index: 1;
}

section#main-display span {
    width: 100%;

    padding: 3% auto;


    position: absolute;
    bottom: 0;
    left: 0;

    font-size: 2em;
    text-shadow: none;
    text-align: center;
}

section#main-display > div {
    width: 100%;
    padding: 5% auto;

    border-top: groove 3px black;
    border-bottom: groove 3px black;

    text-align: center;

    position: relative;
}

section#main-display > div::after {
    content: "";
    background: radial-gradient(circle at center center, #fff2, #0002) left center fixed no-repeat;
    background-size: 200% auto;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    animation: background-animation 5s ease-in-out infinite alternate;
}

section#main-display p {
    color: white;

    font-size: 9em;
    font-weight: 800;
    text-shadow: 4px 4px 0px black;

    position: relative;
    z-index: 1;
}

nav {
    list-style-type: none;
    
    padding: 1%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    position: absolute;
    top: 1%;
    right: 1%;

    transition: height .8s ease-in-out;
    overflow: hidden;
}

.ocultable-hidden {
    visibility: hidden;
}

.ocultable-show {
    visibility: visible;
}

.buttons {
    background: #ff0;

    width: 40px;
    height: 40px;

    border: solid 3px black;
    border-radius: 5px;
    outline: none;

    color: black;
    font-weight: 300;
    font-size: 2em;
    text-shadow: 1px 1px 0 black;

    display: flex;
    justify-content: center;
    align-items: center;
}

#button-refresh {
    position: absolute;
    bottom: 2%;
    right: 2%;
}

.ocultable-buttons {
    opacity: 0;
}


/* section das configurações */
section#form > form {
    background: white;

    width: 60%;
    margin: auto;
    padding: 4% 2% 10%; 

    position: relative;

    border: solid 3px black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #0006;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 40px;

    overflow: hidden;
}

label {
    font-size: 1.5em;
}

input[type=number] {
    background: #ffa;

    padding: 3%;

    border: solid 3px black;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #0004;
    
    color: #444;
    font-size: 1em;
}

input[type=color] {
    width: 314px;
    height: 50px;

    box-shadow: 5px 5px 10px #0004;
}

input::placeholder {
    color: #444;
}

form > a {
    background: #ff3;

    width: 100%;

    padding: 1% 5%;
    border: none;
    border-top: solid 3px black;
    border-radius: 0;

    position: absolute;
    bottom: 0;
    left: 0;

    font-size: 2em;
    text-align: center;
}

form > a:hover {
    background: #fa0;
}

section#form:target {
    opacity: 1;

    z-index: 2;
}


/* media queries */
@media screen and (max-width:560px) {
    section#form > form {
        width: 100%;

        border-left: none;
        border-right: none;
        border-radius: 0;

        margin-top: 5%;

        padding: 4% 1% 10%;

        justify-content: center;
        gap: 5%;
    }

    input[type=number] {
        width: 80%;
        margin: 2% 0;
    }

    input[type=color] {
        width: 237px;
    }
}

@media screen and (max-width:470px) {
    section#form > form {
        padding: 4% 1% 15%;
    }
}